@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contact Section -->


<!-- Developer Information Section -->
<div class="bg-light p-5">
    <h3>Thông Tin Người Phát Triển</h3>
    <div class="d-flex p-3">
        <div class="container rounded p-2 pt-3 shadow-sm m-3" style="background-color:white;">

            <p><strong>Tên Người Phát Triển:</strong> Võ Gia Huy</p>
            <p><strong>Email:</strong> 2224802010822@student.tdmu.edu.vn</p>
        </div>
        <div class="container rounded p-2 pt-3 shadow-sm m-3" style="background-color:white;">
            <p><strong>Tên Người Phát Triển:</strong> Lê Nguyễn Bảo Trân</p>
            <p><strong>Email:</strong> 2224802010476@student.tdmu.edu.vn</p>
        </div>
    </div>
</div>
